{% extends 'base.html' %}
{% load static %}


{% block css %}
{% endblock css %}

{% block titulo %}Contrato {{contrato.id}}{% endblock titulo %}

{% block navbar %} {% include '_navbar.html' %}{% endblock navbar %}

{% block conteudo %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

{% if status == '0' %}
      
<div class="container-alert" id="notification">
  <div class="alert alert-secondary d-flex align-items-center" role="alert" id="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div class="notificacao">
        Ocorreu um Erro interno na tentativa de gravar no Banco de Dados :(
        <a href="{% url 'contrato' contrato.id %}" class="btn-close" id="action-btn"></a>
    </div>
  </div>
</div>
  
{% endif %}
{% if status == '1' %}
      
  <div class="container-alert" id="notification">
    <div class="alert alert-success d-flex align-items-center" role="alert" id="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#check-circle-fill"/></svg>
        <div class="notificacao">
          Contrato alterado com sucesso!
          <a href="{% url 'contrato' contrato.id %}" class="btn-close" id="action-btn"></a>
      </div>
    </div>
  </div>

{% endif %}

<div class="d-flex justify-content-center align-items-center" id="container" style="flex-direction: column;">
    <div class="bg-white" style="width: 95%; padding:20px; margin-bottom: 2rem;">
        <form method="POST" action="{% url "editar_contrato" contrato.id %}">{% csrf_token %}
          <div class="row space-between">
            <div class="mb-3 col">
              <label class="form-label"><strong>Descrição do contrato</strong></label>
              <input type="text" class="form-control" value="{{contrato.descricao}}" name="descricao" required  >
            </div>
            <div class="mb-3 col">
              <label  class="form-label"><strong>Data do Contrato</strong></label>
              <input type="date" class="form-control" value="{{contrato.data_contrato|date:'Y-m-d'}}" name="data_contrato" required>
            </div>
          </div>
    
            <div class="w-100 d-flex text-center justify-content-center mb-4">
              <h4 class="">Dados do contratante:</h4>
            </div>
    
            <div class="mb-3">
              <label class="form-label"><strong>Nome Completo</strong></label>
              <input type="text" class="form-control" value="{{contrato.nome_contratante}}" name="nome" required  >
            </div>
            <div class="mb-3">
              <label  class="form-label"><strong>CPF</strong></label>
              <input type="text" class="form-control" value="{{contrato.cpf_contratante}}" name="cpf"  required>
            </div>
            <div class="mb-3">
    
            <div class="row space-between">
                <div class="mb-3 col" >
                  <label  class="form-label"><strong>Rua / logradouro</strong></label>
                  <input type="text" class="form-control" value="{{contrato.rua_contratante}}" name="rua" required>
                </div>
                <div class="mb-3 col">
                  <label  class="form-label">N° da rua</label>
                  <input type="text" class="form-control" value="{{contrato.numero_contratante}}" name="numero">
                </div>
            </div>
            <div class="row space-between">
                <div class="mb-3 col" >
                    <label  class="form-label"><strong>Cidade</strong></label>
                    <input type="text" class="form-control" value="{{contrato.cidade_contratante}}" name="cidade" required>
                </div>
                <div class="mb-3 col">
                    <label  class="form-label"><strong>Estado</strong></label>
                    <select class="form-select" name="estado">
                      <option value="{{contrato.estado_contratante}}">{{contrato.estado_contratante}}</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                  </select>
                </div>
            </div>
            <br>
            <div class="w-100 d-flex text-center justify-content-center mb-4">
              <h4 class="">Dados do Evento:</h4>
            </div>
    
            <div class="row space-between">
              <div class="mb-3 col">
                <label  class="form-label"><strong>Salão</strong></label>
                <select class="form-select" name="salao">
                  <option value="{{contrato.salao}}">{{contrato.salao}}</option>
                  <option value="VIP">Salão VIP</option>
                  <option value="Rústico">Salão Rústico</option>
                  <option value="Nobre">Salão Nobre</option>
                </select>
              </div>
              <div class="mb-3 col">
                <label  class="form-label" style="display:flex; justify-content: space-between;"><strong>Tipo do evento</strong><a onclick="outro()" style="color: #04a3ff;">Editar</a></label>
                <select class="form-select" id="festa" name="festa">
                  <option value="{{contrato.evento}}">{{contrato.evento}}</option>
                  <option value="Casamento">Casamento</option>
                  <option value="Festa de 15 anos">Festa de 15 anos</option>
                  <option value="Festa de Aniversário">Festa de Aniversário</option>
                  <option value="Festa">Festa</option>
                </select>
                <input style="display: none;" type="text" class="form-control" value="" id="outra_festa" name="outra_festa"></input>
              </div>
            </div>
    
            <div class="row space-between">
              <div class="mb-3 col">
                <label  class="form-label"><strong>Quantidade de convidados</strong></label>
                <input type="number" class="form-control" value="{{contrato.qtd_convidados}}" name="qtd_convidados" required>
              </div>
              <div class="mb-3 col">
                <label  class="form-label"><strong>Quantidade de garçons</strong></label>
                <input type="number" class="form-control" value="{{contrato.qtd_garcons}}" name="qtd_garcons" required>
              </div>
              <div class="mb-3 col">
                <label  class="form-label"><strong>Data do Evento</strong></label>
                <input type="date" class="form-control" value="{{contrato.data_evento|date:'Y-m-d'}}" name="data_evento" required>
              </div>
            </div>
    
            <br>
            <div class="w-100 d-flex text-center justify-content-center mb-4">
              <h4 class="">Valores:</h4>
            </div>
    
            <div class="row space-between">
              <div class="mb-3 col">
                <label  class="form-label"><strong>Valor do aluguel</strong></label>
                <input type="number" step="0.01" placeholder="R$" class="form-control" value="{{contrato.valor}}" name="valor_aluguel" required>
              </div>
              <div class="mb-3 col">
                <label  class="form-label"><strong>Valor do Buffet</strong></label>
                <input type="number" step="0.01" placeholder="R$" class="form-control" value="{{contrato.valor_buffet}}" name="valor_buffet" required>
              </div>
              <div class="mb-3 col">
                <label  class="form-label"><strong>Data a pagar</strong></label>
                <input type="date" class="form-control" value="{{contrato.data_pagar|date:'Y-m-d'}}" name="data_pagar" required>
              </div>
            </div>
            <hr>
    
            <div class="d-flex w-100" style="justify-content: space-around; align-items: center; gap: 5px;">
                <button type="button" class="btn btn-danger d-flex justify-content-center align-items-center gap-2"  data-bs-toggle="modal" data-bs-target="#ModaldeleteContrato" style="width:100%">Deletar <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg></button>
                <a onclick="imprimir()" class="btn btn-primary d-flex justify-content-center align-items-center gap-2" style="width:100%">Imprimir <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16"><path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/><path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/></svg></a>
                <a onclick="baixar(contrato_print)" class="btn btn-secondary d-flex justify-content-center align-items-center gap-2" style="width:100%">Download <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/></svg></a>
                <button type="submit" class="btn btn-success d-flex justify-content-center align-items-center gap-2" style="width:100%">Salvar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill" viewBox="0 0 16 16"><path d="M12 2h-2v3h2V2Z"/><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z"/></svg></button>
            </div>
          </form>
    </div>
</div>
</div>


        <!-- Modal DELETE CONTRATO -->
        <div class="modal fade" id="ModaldeleteContrato" tabindex="-1" aria-labelledby="ModaldeleteContratolLabel" aria-hidden="true" >
          <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModaldeleteContratoLabel">Deletar contrato {{contrato.id}} </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente deletar o contrato "<strong>{{contrato.descricao}}</strong>"
            </div>

            <div class="modal-footer">
              <a href="{% url "deletar_contrato" contrato.id %}" class="btn btn-danger d-flex justify-content-center align-items-center gap-2" style="">Excluir <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg></a>
            </div>
          </div>
          </div>
          </div>
          
          <!-- FIM MODAL  -->


<div id="contrato_print">
    {% include "_modelo_contrato.html" %}
</div>






<script type="text/javascript">

    function outro(){
      input = document.getElementById("outra_festa")
      select = document.getElementById("festa")
  
      if (input.style.display == "none"){
        input.style.display = "flex"
        select.style.display = "none"
      }else{
        select.style.display = "flex"
        input.style.display = "none"
        input.value = ""
      }
    }
    
    //{% comment %} Função para botão de imprimir {% endcomment %}
    function imprimir() {
        window.print();
    }
    
    //{% comment %} Função para botão de download {% endcomment %}
    function baixar(element_impressao) {
      alert("Função indisponível no momento")

      // // Opções de configuração do PDF
      // const pdf = {
      //   filename: 'contrato.pdf',
      //   jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
      // }

      // // Crie o PDF a partir do elemento HTML
      // html2pdf().set(pdf).from(element_impressao).save()
    }



  </script>


<style>
    @media print {
        t{
            color: rgb(0, 0, 0);
        }
        nav{
          display: none!important;
        }
        #container{
          display: none!important;
        }
        #contrato_print{
          display: flex!important;
        }
    
    }
</style>


{% endblock conteudo %}