body{
    background-color:  #020018;
}

#logo-navbar{
    width: 5rem;
}

.navbar{
    background-color: #013458;
    box-shadow: 0px 10px 16px -2px rgba(226, 218, 218, 0.29);
}

#navbarNavDropdown{
    justify-content: end;
}

/* .nav-item{
    border-right: #02B5A0 solid;
} */
.nav-link{
    color: #00ffff !important;
}
.ultimo-link{
    border-right: none;
}

#navbarNavDropdown {
    justify-content: space-between;
    color: #cff3ff;
}

.dropdown-menu{
    background-color: #013458 !important;
}
.dropdown-item{
    color: #00ffff !important;
}
.dropdown-item:hover{
    background-color: #020018 !important;
}

.sair{
    color: #00ffff!important;
}
.usuario strong {
    padding-left: .5rem;
}

@media (max-width: 992px){
    .nav-item{
        border-right: none;
    }
}