
<div class="page" id="contrato" style="background-color:#ffffff;">
    <div class="container">
        <div class="container-principal">
            <div style="page-break-before:always; page-break-after:always"><div><p style="text-align: center; font-size: x-large; margin-bottom: 40px;"><b>CONTRATO DE PRESTA&#199;&#195;O DE SERVI&#199;O DE <i>BUFFET </i>COM<br/>LOCA&#199;&#195;O DE ESPA&#199;O PARA EVENTO<br/></b></p>
                
                <p><b>I - IDENTIFICA&#199;&#195;O DAS PARTES</b>, de um lado,<br/></p>
                
                <p class="text-justify">
                    <b>A.DE SOUSA ALBINO – PARQUE DAS ÁGUAS EPP</b>, pessoa jurídica de direito
                    privado, inscrita no CNPJ/MF sob n°. 12.794.500/0001-21, por seu representante legal sr. Airton
                    de Sousa Albino, com sede à Lateral da BR-101, Pref. Santelmo Borba, n° 7950, bairro Nova
                    Guarita – CEP: 88960-000 no município de Sombrio/SC, doravante denominada simplesmente
                    <b>CONTRATADA</b> e, de outro, <t>{{contrato.nome_contratante}}</t> inscrita no CPF nº <t>{{contrato.cpf_contratante}}</t>, residente e
                    domiciliado na <t>{{contrato.rua_contratante}}, {% if contrato.numero_contratante %}número {{contrato.numero_contratante}}{% endif %} no município de {{contrato.cidade_contratante}} /{{contrato.estado_contratante}}</t>, doravante
                    denominada simplesmente <b>CONTRATANTE</b>.
                </p>

                <p class="text-justify">
                    As partes identificadas acima têm, entre si, justo e acertado o presente CONTRATO
                    DE PRESTAÇÃO DE SERVIÇO DE BUFFET COM LOCAÇÃO DE ESPAÇO PARA EVENTO, que se regerá
                    pelas seguintes cláusulas e condições:
                </p>

                <p><b>II - DO OBJETO DO CONTRATO<br/></b></p>

                <p class="text-justify">
                    <b>Cláusula 1</b>. É objeto do presente contrato a Locação de Espaço para realização de evento e
                    prestação de serviços de Buffet pela <b>CONTRATADA</b> à <b>CONTRATANTE</b> a ser realizado no imóvel
                    de propriedade da <b>CONTRATADA</b> no salão denominado <b><t>{{contrato.salao}}</t></b>, no endereço Lateral da BR-101,
                    Pref. Santelmo Borba, n° 7950, bairro Nova Guarita – CEP: 88960-000 no município de
                    Sombrio/SC.
                    
                </p>

                <p><b>III - DO EVENTO<br/></b></p>

                <p class="text-justify">
                    <b>Cláusula 2</b>. O evento, para cuja os serviços de buffet e locação de espaço foram contratados,
                    será um(a) <t>{{contrato.evento}}</t> de responsabilidade do(a) <b>CONTRATANTE</b>, e contará com a presença de
                    <b><t>{{contrato.qtd_convidados}}</t></b> pessoas/convidados na data de <t>{{contrato.data_evento|date:'d/m/Y'}}"</t>, às <u>19:00 horas</u>.

                </p>

                <p class="text-justify">
                    Parágrafo primeiro: A <b>CONTRATADA</b> poderá, a seu exclusivo critério, conferir o número e
                    controlar o acesso dos convidados.
                </p>

                <p class="text-justify">
                    Parágrafo segundo: O espaço contratado será utilizado exclusivamente para finalidade de
                    realização do evento acordado, sendo vedada sua utilização para outro fim, sob pena de se
                    considerar infração contratual.
                </p>

                <p class="text-justify">
                    Parágrafo terceiro: O(A) <b>CONTRATANTE</b> declara que realizou a conferência/inspeção no espaço
                    locado atestando que o mesmo se encontra em perfeita condição de uso e funcionalidade.
                </p>

                <p class="text-justify">
                    <b>IV - OBRIGAÇÕES DA CONTRATANTE</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 3.</b> É obrigação do(a) <b>CONTRATANTE</b> indenizar a <b>CONTRATADA</b> por todos os danos
                    causados pelos participantes do evento nas instalações, móveis e no próprio imóvel locado,
                    que deverão ser devidamente indenizados para a recomposição dos mesmos, de forma a
                    manter as condições e características originais.
                </p>

                <p class="text-justify">
                    <b>Cláusula 4.</b> O(A) <b>CONTRATANTE</b> deverá fornecer à <b>CONTRATADA</b> todas as informações
                    necessárias à realização adequada do serviço de buffet, devendo especificar os detalhes do
                    evento, necessários ao perfeito fornecimento do serviço de buffet.

                </p>

                <p class="text-justify">
                    <b>Cláusula 5.</b> O(A) <b>CONTRATANTE</b> será responsável pela ornamentação do espaço.

                </p>

                <p class="text-justify">
                    <b>Cláusula 6.</b> O(A) <b>CONTRATANTE</b> deverá efetuar o pagamento na forma e condições
                    estabelecidas na cláusula 12.

                </p>

                <p class="text-justify">
                    <b>V – DAS OBRIGAÇÕES DA CONTRATADA</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 7.</b> É dever da <b>CONTRATADA</b> oferecer um serviço de buffet de acordo com as
                    especificações previamente combinada com o(a) <b>CONTRATANTE</b>, fornecendo produtos de
                    qualidade, que deverão ser preparados e servidos em observância às boas práticas de higiene e
                    limpeza.
                </p>

                <p class="text-justify">
                    <b>Cláusula 8.</b> A <b>CONTRATADA</b> fornecerá <t>{{contrato.qtd_garcons}}</t> garçons para a prestação dos serviços ora contratados.
                </p>

                <p class="text-justify">
                    <b>Cláusula 9.</b> A <b>CONTRATADA</b> será a única responsável por todos os seus empregados que
                    trabalharem no evento referido na cláusula 2, referentes à prestação dos serviços ora
                    contratados.

                </p>

                <p class="text-justify">
                    <b>Cláusula 10.</b> A <b>CONTRATADA</b> obriga-se a manter todos os seus empregados devidamente
                    uniformizados durante a prestação dos serviços ora contratados, garantindo que todos eles
                    possuem os requisitos de urbanidade, moralidade e educação, além de capacitação técnica.
                </p>

                <p class="text-justify">
                    <b>VI - DO PREÇO E DAS CONDIÇÕES DE PAGAMENTO</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 11</b>. Os serviços contratados no presente instrumento serão remunerados pela
                    quantidade total de R$ [ ___________ ], correspondente ao valor de R$ <t>{{contrato.valor}}</t> do aluguel do
                    espaço (salão <t>{{contrato.salao}}</t>) e o valor de R$ <t>{{contrato.valor_buffet}}</t> (a combinar com o dia da data) pelo serviço de
                    buffet para a quantidade de pessoas indicada na cláusula 2ª, e deve ser pago em [dinheiro, cheque, cartão,
                    etc.] 50% do valor da festa uma semana antes do evento, e o restante até a data de <t>{{contrato.data_pagar|date:'d/m/Y'}}</t>.
                    <!-- data de terminar de pagar -->

                </p>

                <p class="text-justify">
                    <b>Cláusula 12.</b> Bebidas será cobrado o custo e mais uma taxa para gelar.
                </p>

                <p class="text-justify">
                    <b>Cláusula 13.</b> Se possuir Barman será acrescentado uma taxa de R$ 600,00.
                </p>

                <p class="text-justify">
                    <b>VII - DO INADIMPLEMENTO</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 14.</b> Em caso de inadimplemento por parte do(a) <b>CONTRATANTE</b> quanto ao pagamento
                    do serviço prestado, deverá incidir sobre o valor do presente instrumento multa pecuniária de
                    5%, juros de mora de 1% ao mês e correção monetária.
                </p>

                <p class="text-justify">
                    Parágrafo único. Em caso de cobrança judicial, devem ser acrescidas custas processuais e 20%
                    de honorários advocatícios.
                </p>

                <p class="text-justify">
                    <b>VIII - DA DEVOLUÇÃO</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 15.</b> Todos os utensílios e objetos fornecidos pela <b>CONTRATADA</b>, deverão ser
                    devolvidos em perfeito estado de conservação, sob pena do(a) <b>CONTRATANTE</b> arcar com os
                    respectivos valores de reposição.
                </p>

                <p class="text-justify">
                    Parágrafo primeiro. O(A) <b>CONTRATANTE</b> se obriga a restituir o espaço locado em perfeito estado
                    de conservação no dia <t>{{contrato.data_pagar|date:'d/m/Y'}}</t>. Responsabilizando- se por qualquer dano que venha a causar
                    ao imóvel, ou aos bens que o guarnecem, devendo restituí-los nas mesmas condições em que os
                    recebeu.
                    <!-- data para devolução do salao limpo -->
                </p>

                <p class="text-justify">
                    <b>IX - DA RESCISÃO</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 15.</b> O presente contrato poderá ser rescindido unilateralmente por qualquer uma das
                    partes, desde que haja comunicação antecedente e formal, por escrito, justificando o motivo
                    em até <b>90</b> dias corridos, antes da data prevista para o evento previsto na cláusula 2ª, sob pena
                    de incidência de multa contratual prevista na cláusula 16.

                </p>

                <p class="text-justify">
                    <b>X -DAS MULTAS CONTRATUAIS</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 16.</b> Salvo o caso de rescisão já previsto na cláusula anterior, fica estabelecido que a
                    parte infratora a quaisquer cláusulas do presente contrato, pagará à parte prejudicada multa
                    equivalente a 30% (trinta por cento) sobre o valor do contrato, independente de ação judicial
                    específica para ressarcimento de perdas e danos que poderá ser movida pela parte
                    prejudicada.
                </p>

                <p class="text-justify">
                    Parágrafo único: Fica, desde já, consignado e autorizado pelo(a) <b>CONTRATANTE</b> que a
                    <b>CONTRATADA</b> poderá reter o percentual de 30% (trinta por cento) sobre o valor do contrato,
                    em caso de incidência de multa do valor eventualmente adiantado.
                </p>

                <p class="text-justify">
                   <b>XI - DAS CONDIÇÕES GERAIS</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 17.</b> O cardápio foi elaborado de acordo com o número de convidados determinado
                    pela <b>CONTRATANTE</b>, e de acordo com as solicitações desta. Portanto, a <b>CONTRATADA</b> não será
                    responsabilizada se atendidas as especificações contratadas, a insuficiência da comida e/ou da
                    bebida.
                </p>

                <p class="text-justify">
                    <b>Cláusula 18.</b> Qualquer alteração, modificação ou complementação ao presente instrumento
                    somente será reconhecido e produzirá efeitos legais, se previamente ajustado entre as partes e
                    incorporado ao presente contrato mediante Termo Aditivo, devidamente assinado pelas partes
                    contratantes.
                </p>

                <p class="text-justify">
                    <b>XII - DO FORO</b>
                </p>

                <p class="text-justify">
                    <b>Cláusula 19.</b> Para dirimir quaisquer controvérsias oriundas do presente contrato, as partes elegem o foro da
                     comarca de Sombrio/SC
                </p>

                <p class="text-justify">
                    Por estarem assim justos e contratados, firmam o presente instrumento, em duas
                    vias de igual teor, juntamente com 2 (duas) testemunhas.
                </p>

                <div class="parte-final">
                    <p class="text-justify">
                        Sombrio/SC, <t>{{contrato.data_contrato.day}} de {{mes}} de {{contrato.data_contrato.year}}</t>.
                        <!-- data do contrato -->
                    </p>
                    <div class="text-justify assinatura">
                        <p style="margin: 5px;"><b><t>{{contrato.nome_contratante}}</t></b></p>
                        <p style="margin: 0;">CONTRATANTE</p>
                    </div>
                    <div class="text-justify assinatura">
                        <p style="margin: 5px;"><b>A. DE SOUSA ALBINO – PARQUE DAS ÁGUAS - EPP</b></p>
                        <p style="margin: 0;">CONTRATADA</p>
                    </div>
                </div>

        </div>
    </div>
</div>


<style>
    .page{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 793px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-principal{
        width: 100%;
    }
    .text-justify{
        text-align: justify;
    }
    .parte-final{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .assinatura{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }
    t{
        color: rgb(255, 0, 0);
    }
</style>